.container {
  width: 85%; }

.nav-wrapper {
  background-color: #404040; }

.brand-logo {
  margin-left: 15px; }

#home {
  font-weight: 600; }

#current_username {
  font-weight: 600; }

body {
  background-image: url(../images/sprinkles/sprinkles.png);
  background-repeat: repeat; }

.blog-frame {
  margin-top: 50px; }
  .blog-frame .left-pane {
    width: 70%;
    margin: auto;
    margin-top: 100px; }
    .blog-frame .left-pane strong {
      font-size: 18px;
      font-weight: 600; }
    .blog-frame .left-pane aside {
      background-color: #fafafa;
      width: 80%;
      margin: auto;
      display: flex;
      border-radius: 5px;
      margin: 50px 0 20px;
      position: relative; }
      .blog-frame .left-pane aside .aside-heading {
        margin: 10px 15px 7px;
        display: inline-block;
        font-weight: 600; }
      .blog-frame .left-pane aside .aside-card {
        margin: 7px;
        width: 100%;
        display: block; }
      .blog-frame .left-pane aside #fab-two {
        position: relative;
        top: -25px;
        left: 25px; }
  .blog-frame .right-frame {
    width: 70%;
    background-color: transparent;
    margin: auto;
    margin-top: 50px;
    border-radius: 5px;
    position: relative; }
    .blog-frame .right-frame .posts {
      margin: 20px 0 20px;
      padding: 15px;
      background-color: white;
      border-radius: 5px;
      max-height: 250px;
      overflow: hidden; }
      .blog-frame .right-frame .posts span {
        font-weight: 600; }
    .blog-frame .right-frame .post-date {
      text-align: right;
      float: right;
      font-size: .7em;
      margin-top: 7px; }
    .blog-frame .right-frame #fab-one {
      position: absolute;
      top: -70px;
      right: -25px; }

.modal-content {
  border: none;
  background-color: #1b5e20;
  color: #fafafa;
  border-radius: 0; }

#description {
  height: 200px; }

.form {
  width: 80%;
  margin: auto; }

.form-card {
  background-color: white;
  border-radius: 5px;
  margin: auto;
  margin-top: 100px;
  width: 80%;
  padding: 20px; }

.subtext {
  margin: auto;
  margin-top: 15px;
  width: 75%; }

.new-post-title-label {
  margin-left: 10px; }

.new-post-title {
  height: 3rem;
  width: 100%;
  margin: auto;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  resize: none; }

.new-post-body-label {
  margin-left: 10px; }

.new-post-body {
  width: 100%;
  height: 30rem;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  resize: none; }

.single-post-frame {
  width: 70%;
  background-color: white;
  margin: auto;
  margin-top: 50px;
  border-radius: 5px; }

.post-view {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  margin-top: 120px;
  position: relative; }
  .post-view .post-heading {
    padding-top: 15px;
    height: 60px; }
  .post-view .post-title {
    margin-top: 0px;
    padding-top: 5px;
    font-weight: 500;
    font-size: 2em;
    display: inline-block; }
  .post-view .date {
    margin-top: 15px;
    padding-top: 5px;
    text-align: right;
    float: right;
    font-size: 1em; }
  .post-view div hr {
    margin: 20px 0 15px 0; }
  .post-view .post-content {
    margin: 55px 0 35px 0; }
  .post-view .save-post-button {
    float: left; }
  .post-view .delete-post-button {
    float: right; }

#edit_post_fab {
  position: absolute;
  bottom: -27px;
  right: 0px; }

.collapsible {
  border: 0; }

.collapsible-header {
  background-color: transparent;
  border: 0; }

.collapsible-body {
  border: 0; }

.comment-title-label {
  margin-left: 10px; }

.comment-title {
  height: 3rem;
  width: 100%;
  margin: auto;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  resize: none; }

.comment-body-label {
  margin-left: 10px; }

.single-post-frame {
  width: 70%;
  background-color: white;
  margin: auto;
  margin-top: 50px;
  border-radius: 5px; }

.comment-body {
  width: 100%;
  height: 10rem;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  resize: none; }

.comment-wrapper {
  background-color: white;
  border-radius: 5px;
  width: 80%;
  margin-top: 15px;
  padding: 15px; }
  .comment-wrapper h5 {
    margin: 15px 0 10px 0; }
  .comment-wrapper h6 {
    font-weight: 600; }
  .comment-wrapper hr {
    margin: 7px; }
  .comment-wrapper span {
    font-weight: 600; }
  .comment-wrapper .date-small {
    float: right;
    font-size: .9em; }

/*# sourceMappingURL=style.css.map */
