.container {
  width: 85%; }

.brand-logo {
  margin-left: 15px; }

.fa {
  font-size: 40px;
  color: black; }
  .fa:hover {
    color: #0077b5; }

#current_username {
  font-weight: 600; }

body {
  background-image: url(../images/sprinkles/sprinkles.png);
  background-repeat: repeat; }

.btn-custom {
  background: rgba(0, 0, 0, 0.6);
  color: white; }
  .btn-custom:hover {
    background-color: #404040;
    color: orange; }

.nav-wrapper {
  background-color: #404040; }
  .nav-wrapper a:hover {
    color: orange;
    text-decoration: none; }
  .nav-wrapper .nav-active {
    color: orange;
    text-decoration: none; }

.sidenav {
  background-color: #404040;
  color: white; }
  .sidenav i {
    color: white;
    font-size: 22px; }
  .sidenav a:hover {
    color: orange;
    text-decoration: none; }

@media (min-width: 992px) {
  .blog-frame {
    width: 100%;
    margin: auto;
    margin-top: 100px; } }
.blog-frame .left-pane {
  width: 100%;
  margin-top: 70px; }
  @media (min-width: 992px) {
    .blog-frame .left-pane {
      width: 80%;
      margin: auto;
      margin-top: 0px; } }
  .blog-frame .left-pane .dark-bg {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px; }
    @media (min-width: 992px) {
      .blog-frame .left-pane .dark-bg {
        width: 80%; } }
    .blog-frame .left-pane .dark-bg h4 {
      margin-top: 5px; }
  .blog-frame .left-pane strong {
    font-size: 18px;
    font-weight: 600; }
  .blog-frame .left-pane .post-nav {
    margin: auto; }
  .blog-frame .left-pane aside {
    margin-top: 25px;
    background-color: #fafafa;
    width: 100%;
    display: flex;
    border-radius: 5px;
    position: relative; }
    @media (min-width: 992px) {
      .blog-frame .left-pane aside {
        width: 80%;
        margin: auto;
        margin: 80px 0 50px; } }
    .blog-frame .left-pane aside p {
      margin-top: 10px; }
    .blog-frame .left-pane aside .aside-heading {
      margin: 10px 15px 7px;
      display: inline-block;
      font-weight: 600; }
    .blog-frame .left-pane aside .aside-card {
      margin: 7px;
      width: 100%;
      display: block;
      padding: 5px; }
    .blog-frame .left-pane aside #fab-two {
      position: relative;
      top: -25px;
      left: 25px;
      z-index: 199; }
    .blog-frame .left-pane aside .fab-label {
      background-color: #fdffb6;
      border-radius: 5px;
      position: absolute;
      padding: 12px;
      right: 0px;
      height: 45px;
      width: 120px;
      top: -50px; }
  .blog-frame .left-pane .social-icons {
    width: 200px;
    margin: auto; }
    @media (min-width: 992px) {
      .blog-frame .left-pane .social-icons {
        width: 100%; } }
    .blog-frame .left-pane .social-icons .media-wrapper {
      width: 40px;
      display: inline-block;
      margin: 40px 10px 25px 10px; }
      @media (min-width: 992px) {
        .blog-frame .left-pane .social-icons .media-wrapper {
          margin-top: 0px;
          text-align: right;
          width: 80%;
          position: relative;
          padding: 15px; } }
      .blog-frame .left-pane .social-icons .media-wrapper .link-hover:hover {
        color: orange; }
      .blog-frame .left-pane .social-icons .media-wrapper .hide-on-small {
        visibility: hidden; }
        @media (min-width: 992px) {
          .blog-frame .left-pane .social-icons .media-wrapper .hide-on-small {
            visibility: visible; } }
      .blog-frame .left-pane .social-icons .media-wrapper i {
        margin-left: 7px; }
      .blog-frame .left-pane .social-icons .media-wrapper div {
        display: inline-block;
        position: absolute;
        top: 35%;
        right: 65px;
        text-decoration: none;
        color: black; }
@media (min-width: 992px) {
  .blog-frame .right-frame {
    width: 70%;
    background-color: transparent;
    margin: auto;
    margin-top: 0px;
    border-radius: 5px;
    position: relative; } }
@media (min-width: 992px) {
  .blog-frame .right-frame .sticky-wrapper {
    margin-bottom: 80px; } }
.blog-frame .right-frame .sticky-wrapper .sticky-post {
  padding: 15px;
  background-color: white;
  border-radius: 5px;
  margin: 17px 0 20px;
  max-height: 250px;
  overflow: hidden;
  margin-top: 0; }
  .blog-frame .right-frame .sticky-wrapper .sticky-post .post-title {
    font-weight: 600; }
    .blog-frame .right-frame .sticky-wrapper .sticky-post .post-title a {
      text-decoration: none; }
  .blog-frame .right-frame .sticky-wrapper .sticky-post .post-date {
    text-align: right;
    float: right;
    font-size: .7em;
    margin-top: 7px; }
  .blog-frame .right-frame .sticky-wrapper .sticky-post pre {
    white-space: pre-wrap;
    overflow-x: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    max-height: 125px;
    overflow-y: hidden; }
.blog-frame .right-frame .sticky-wrapper .badge {
  color: white;
  float: left;
  margin-left: 0;
  margin-right: 5px; }
.blog-frame .right-frame .sticky-wrapper .subtext {
  font-size: 10px; }
.blog-frame .right-frame .post-wrapper {
  margin-top: 20px; }
  @media (min-width: 992px) {
    .blog-frame .right-frame .post-wrapper {
      position: relative;
      margin-top: 65px; } }
  .blog-frame .right-frame .post-wrapper .posts {
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    margin: 17px 0 20px;
    max-height: 250px;
    overflow: hidden; }
    .blog-frame .right-frame .post-wrapper .posts .post-title a {
      text-decoration: none; }
    .blog-frame .right-frame .post-wrapper .posts pre {
      white-space: pre-wrap;
      overflow-x: hidden;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 14px;
      max-height: 125px;
      overflow-y: hidden; }
  .blog-frame .right-frame .post-wrapper .post-date {
    text-align: right;
    float: right;
    font-size: .7em;
    margin-top: 7px; }
  .blog-frame .right-frame .post-wrapper #fab-one {
    position: absolute;
    top: -25px;
    right: -15px;
    z-index: 2; }
    @media (min-width: 1200px) {
      .blog-frame .right-frame .post-wrapper #fab-one {
        right: -30px; } }
    @media (min-width: 992px) {
      .blog-frame .right-frame .post-wrapper #fab-one {
        right: -30px; } }
  .blog-frame .right-frame .post-wrapper .fab-one-label {
    background-color: #fdffb6;
    border-radius: 5px;
    position: absolute;
    padding: 12px;
    right: 0px;
    height: 45px;
    width: 105px;
    top: -50px;
    right: 13px; }
    @media (min-width: 768px) {
      .blog-frame .right-frame .post-wrapper .fab-one-label {
        right: 13px; } }
    @media (min-width: 992px) {
      .blog-frame .right-frame .post-wrapper .fab-one-label {
        right: 0; } }
    @media (min-width: 1200px) {
      .blog-frame .right-frame .post-wrapper .fab-one-label {
        right: 0; } }
  .blog-frame .right-frame .post-wrapper .subtext {
    font-size: 10px; }
.blog-frame .right-frame .post-nav {
  margin: auto;
  /* Style the active class (and buttons on mouse-over) */ }
  .blog-frame .right-frame .post-nav .btn {
    height: 45px;
    width: 35px;
    margin: 15px 4px 50px;
    padding-top: 12px;
    color: white;
    background: rgba(0, 0, 0, 0.6); }
    .blog-frame .right-frame .post-nav .btn:hover {
      background-color: #404040;
      color: orange; }
  .blog-frame .right-frame .post-nav .prev,
  .blog-frame .right-frame .post-nav .next {
    width: 65px; }
  .blog-frame .right-frame .post-nav .btn-sm {
    height: 45px;
    width: 35px;
    margin: 15px 4px 50px;
    padding-top: 12px;
    color: white;
    background: rgba(0, 0, 0, 0.6); }
    .blog-frame .right-frame .post-nav .btn-sm:hover {
      background-color: #404040;
      color: orange; }
  .blog-frame .right-frame .post-nav .hide-small {
    display: none; }
    @media (min-width: 1200px) {
      .blog-frame .right-frame .post-nav .hide-small {
        display: inline-block; } }
  .blog-frame .right-frame .post-nav .post-nav-active,
  .blog-frame .right-frame .post-nav .btn-sm:hover {
    background-color: #53dbe5;
    color: black; }

.modal {
  width: 50%;
  height: 650px; }
  .modal .modal-content {
    border: none;
    background-color: #404040;
    color: #fafafa;
    border-radius: 0; }
  .modal #description {
    height: 200px; }
  .modal .form {
    width: 80%;
    margin: auto; }

.form-card {
  padding: 15px;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  margin: auto;
  margin-top: 100px;
  width: 100%; }
  @media (min-width: 992px) {
    .form-card {
      padding: 15px;
      background-color: white;
      border-radius: 5px;
      padding: 25px;
      margin: auto;
      margin-top: 100px;
      width: 80%; } }

.subtext {
  margin: auto;
  margin-top: 15px;
  width: 75%; }

.new-post-heading {
  margin: 100px 0 25px 0;
  width: 100%; }

.new-post-form {
  width: 100%; }
  .new-post-form .new-post-title-label {
    margin-left: 10px; }
  .new-post-form .new-post-title {
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    height: 3rem;
    width: 100%;
    margin: auto;
    resize: none;
    overflow: hidden; }
  .new-post-form .new-post-body-label {
    margin-left: 10px; }
  .new-post-form .new-post-body {
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    width: 100%;
    height: 30rem;
    resize: none; }
  .new-post-form #mat-checkbox {
    opacity: 1; }
  .new-post-form .check-row .form-check {
    display: inline-block; }
  .new-post-form .check-row .input-field {
    width: 150px; }
  .new-post-form .single-post-frame {
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    width: 70%;
    margin: auto;
    margin-top: 50px; }

.post-view {
  padding: 15px;
  background-color: white;
  border-radius: 5px;
  margin-top: 120px;
  position: relative; }
  .post-view .post-heading {
    padding: 0;
    height: 60px; }
  .post-view .post-title {
    margin-top: 0px;
    padding-top: 5px;
    font-weight: 500;
    font-size: 2em;
    display: inline-block; }
  .post-view .date {
    margin-top: 15px;
    padding-top: 5px;
    text-align: right;
    float: right;
    font-size: 1em; }
  .post-view div hr {
    margin: 20px 0 15px 0; }
  .post-view .post-content {
    margin: 35px 0 35px 0; }
    .post-view .post-content pre {
      white-space: pre-wrap;
      overflow-x: auto;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 16px; }

.delete-conf-modal {
  width: 50%;
  height: 160px; }
  .delete-conf-modal .modal-content {
    padding: 15px;
    background-color: #404040; }

.bottom-spacer {
  height: 50px; }

.edit-post-heading {
  margin-top: 50px;
  padding-left: 7px; }

.edit-post-form .edit-post-title {
  padding-top: 10px;
  height: 3rem;
  width: 100%;
  margin: auto;
  resize: none;
  overflow: hidden; }
.edit-post-form .edit-post-body {
  padding: 15px;
  background-color: white;
  border-radius: 5px;
  width: 100%;
  height: 30rem;
  resize: none; }
.edit-post-form .check-row {
  padding: 15px; }
.edit-post-form .button-row {
  padding-left: 15px; }

.delete-post-modal {
  width: 50%;
  height: 160px; }
  .delete-post-modal .modal-content {
    padding: 15px;
    background-color: #404040; }

#edit_post_fab {
  position: absolute;
  bottom: -27px;
  right: 0px;
  z-index: 199; }

.collapsible {
  border: 0; }

.collapsible-header {
  background-color: transparent;
  border: 0; }
  .collapsible-header .btn-custom {
    padding-top: 7px; }

.collapsible-body {
  border: 0; }

.comment-title-label {
  margin-left: 10px; }

.comment-title {
  padding: 15px;
  background-color: white;
  border-radius: 5px;
  height: 3rem;
  width: 100%;
  margin: auto;
  resize: none; }

.comment-body-label {
  margin-left: 10px; }

.single-post-frame {
  padding: 15px;
  background-color: white;
  border-radius: 5px;
  width: 70%;
  margin: auto;
  margin-top: 50px; }

.comment-body {
  padding: 15px;
  background-color: white;
  border-radius: 5px;
  width: 100%;
  height: 10rem;
  resize: none; }

.comment-wrapper {
  padding: 15px;
  background-color: white;
  border-radius: 5px;
  width: 100%;
  margin-top: 15px; }
  @media (min-width: 992px) {
    .comment-wrapper {
      width: 80%; } }
  @media (min-width: 1200px) {
    .comment-wrapper {
      width: 80%; } }
  .comment-wrapper h5 {
    margin: 15px 0 10px 0; }
  .comment-wrapper h6 {
    font-weight: 600; }
  .comment-wrapper hr {
    margin: 7px; }
  .comment-wrapper span {
    font-weight: 600; }
  .comment-wrapper .date-small {
    float: right;
    font-size: .9em; }

.fab-wrapper {
  height: 10px;
  width: 100%;
  margin: 0;
  position: relative; }
  .fab-wrapper #portfolio-fab {
    position: absolute;
    float: right;
    right: -30px;
    bottom: -130px;
    z-index: 199; }
  .fab-wrapper .portfolio-fab-label {
    background-color: #fdffb6;
    border-radius: 5px;
    position: absolute;
    padding: 12px;
    right: 0px;
    float: right;
    height: 45px;
    width: 120px;
    bottom: -85px;
    right: 0px; }

.portfolio-card {
  padding: 15px;
  background-color: white;
  border-radius: 5px;
  margin-top: 90px;
  margin-bottom: 1rem; }
  .portfolio-card .btn-danger {
    margin: 15px; }
  .portfolio-card a {
    text-decoration: none; }
  .portfolio-card .portfolio-link-icons {
    margin: 30px, 25px, 30px, 0; }
    .portfolio-card .portfolio-link-icons .fa {
      margin: 0 15px 15px 15px; }
    .portfolio-card .portfolio-link-icons span {
      margin-bottom: 20px; }
  .portfolio-card .picture-card {
    text-align: center;
    margin: 5px; }
    .portfolio-card .picture-card img {
      margin: 25px;
      bottom: 25px;
      max-width: 80%;
      height: auto; }

.portfolio-modal {
  max-height: 1200px;
  overflow-y: scroll; }

.form-card .check-row {
  padding: 5px; }
.form-card .input-field {
  padding: 0; }

/*# sourceMappingURL=style.css.map */
