$container-width: 85%;

.container {
    width: $container-width;
}

.nav-wrapper {
    background-color: #404040;
}

.brand-logo {
    margin-left: 15px;
}

#home {
    font-weight: 600;
}

#current_username {

    // margin-left: 160px;
    font-weight: 600;

}

body {
    background-image: url(../images/sprinkles/sprinkles.png);
    background-repeat: repeat;
}

// ------------------------------------------ Posts ----------------------------------------- //

.blog-frame {
    margin-top: 50px;

    .left-pane {
        width: 70%;
        margin: auto;
        margin-top: 100px;

        strong {
            font-size: 18px;
            font-weight: 600;
        }

        // ------------------------------------- project --------------------------------- //

        aside {
            background-color: #fafafa;
            width: 80%;
            margin: auto;
            display: flex;
            border-radius: 5px;
            margin: 50px 0 20px;
            position: relative;

            .aside-heading {
                margin: 10px 15px 7px;
                display: inline-block;
                font-weight: 600;
            }

            .aside-card {
                margin: 7px;
                width: 100%;
                display: block;

            }

            #fab-two {
                position: relative;
                top: -25px;
                left: 25px;
            }
        }
    }

    .right-frame {
        width: 70%;
        background-color: transparent;
        margin: auto;
        margin-top: 50px;
        border-radius: 5px;
        position: relative;

        .posts {
            margin: 20px 0 20px;
            padding: 15px;
            background-color: white;
            border-radius: 5px;
            max-height: 250px;
            overflow: hidden;

            span {
                font-weight: 600;
            }
        }

        .post-date {
            text-align: right;
            float: right;
            font-size: .7em;
            margin-top: 7px;
        }

        #fab-one {
            position: absolute;
            top: -70px;
            right: -25px;
        }
    }    
}

// ----------------------------------------- Project Modal ------------------------------------ //

.modal-content {
    border: none;
    background-color: #1b5e20;
    color: #fafafa;
    border-radius: 0;
}

#description {
    height: 200px;
}

.form {
    width: 80%;
    margin: auto;
}

// ----------------------------- Register ----------------- //

.form-card {
    background-color: white;
    border-radius: 5px;
    margin: auto;
    margin-top: 100px;
    width: 80%;
    padding: 20px;
}

.subtext {
    margin: auto;
    margin-top: 15px;
    width: 75%;
}



// ----------------------------- New Post ----------------- //

.new-post-title-label {
    margin-left: 10px;
}

.new-post-title {
    height: 3rem;
    width: 100%;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    resize: none;
}

.new-post-body-label {
    margin-left: 10px;
}

.new-post-body {
    width: 100%;
    height: 30rem;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    resize: none;
}

.single-post-frame {
    width: 70%;
    background-color: white;
    margin: auto;
    margin-top: 50px;
    border-radius: 5px;
}

// ----------------------------- View Post ------------------------ //@at-root

.post-view {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    margin-top: 120px;
    position: relative;

    .post-heading {
        padding-top: 15px;
        height: 60px;
    }

    #edit_post_fab {
        position: absolute;
        top: 12px;
        left: 115px;

    }

    .post-title {    
        margin-top: 0px;
        padding-top: 5px;
        font-weight: 500;     
        font-size: 2em;
        display: inline-block;        
    }
        
    .date {
        margin-top: 15px;
        padding-top: 5px;
        text-align: right;
        float: right;
        font-size: 1em;            
    }


    div hr {
        margin: 20px 0 15px 0;
    }
    
    .post-content {
        margin: 55px 0 35px 0;
    }

    // ------------------------------------ Edit Post --------------------------------- //

    .save-post-button {        
        float: left;        
    }
    
    .delete-post-button {        
        float: right;
    }
}


// ------------------------------------ Comment Section --------------------------- //

.collapsible {    
    border: 0;
}

.collapsible-header {
    background-color: transparent;    
    border: 0;
}

.collapsible-body {
    border: 0;
}

.comment-title-label {
    margin-left: 10px;
}

.comment-title {
    height: 3rem;
    width: 100%;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    resize: none;
}

.comment-body-label {
    margin-left: 10px;
}


.single-post-frame {
    width: 70%;
    background-color: white;
    margin: auto;
    margin-top: 50px;
    border-radius: 5px;
}


.comment-body {
    width: 100%;
    height: 10rem;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    resize: none;
}

.comment-wrapper {
    background-color: white;
    border-radius: 5px;
    width: 80%;
    margin: auto;
    padding: 15px;
}