$container-width: 85%;

.container {
    width: $container-width;
}

.brand-logo {
    margin-left: 15px;
}

#home {
    font-weight: 600;
}

#current_username {

    // margin-left: 160px;
    font-weight: 600;

}

body {
    background-image: url(../images/sprinkles/sprinkles.png);
    background-repeat: repeat;
}

// ------------------------------------------ Posts ----------------------------------------- //

.blog-frame {
    margin-top: 50px;

    .left-pane {
        width: 70%;
        margin: auto;
        margin-top: 100px;

        strong {
            font-size: 18px;
            font-weight: 600;
        }

        // ------------------------------------- project --------------------------------- //

        aside {
            background-color: #fafafa;
            width: 80%;
            margin: auto;
            display: flex;
            border-radius: 5px;
            margin: 50px 0 20px;
            position: relative;

            .aside-heading {
                margin: 10px 15px 7px;
                display: inline-block;
                font-weight: 600;
            }

            .aside-card {
                margin: 7px;
                width: 100%;
                display: block;

            }

            #fab-two {
                position: relative;
                top: -25px;
                left: 25px;
            }
        }
    }

    .right-frame {
        width: 70%;
        background-color: transparent;
        margin: auto;
        margin-top: 50px;
        border-radius: 5px;
        position: relative;

        .posts {
            margin: 20px 0 20px;
            padding: 15px;
            background-color: white;
            border-radius: 5px;
            max-height: 250px;
            overflow: hidden;

            span {
                font-weight: 600;
            }
        }

        .post-date {
            text-align: right;
            float: right;
            font-size: .7em;
            margin-top: 7px;
        }

        #fab-one {
            position: absolute;
            top: -5px;
            right: -15px;
        }
    }    
}

// ----------------------------------------- Project Modal ------------------------------------ //

.modal-content {
    border: none;
    background-color: #1b5e20;
    color: #fafafa;
    border-radius: 0;
}

#description {
    height: 200px;
}

.form {
    width: 80%;
    margin: auto;
}

// ----------------------------- Register ----------------- //

.form-card {
    background-color: white;
    border-radius: 5px;
    margin: auto;
    margin-top: 100px;
    width: 80%;
    padding: 20px;
}

.subtext {
    margin: auto;
    margin-top: 15px;
    width: 75%;
}



// ----------------------------- New Post ----------------- //

.new-post-title-label {
    margin-left: 10px;
}

.new-post-title {
    height: 3rem;
    width: 100%;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    resize: none;
}

.new-post-body-label {
    margin-left: 10px;
}

.new-post-body {
    width: 100%;
    height: 30rem;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    resize: none;
}

.single-post-frame {
    width: 70%;
    background-color: white;
    margin: auto;
    margin-top: 50px;
    border-radius: 5px;
}