<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css') }}"
        media="screen,projection" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>Dev Blog</title>
</head>

<body>
    <nav>
        <!-- materialize nav -->
        <div class="nav-wrapper">
            <ul id="slide-out" class="sidenav">
                <li>
                    <div class="user-view">
                        <a href="{{ url_for('home') }}"><span class="">Home</span></a>
                        <a href="{{ url_for('portfolio') }}"><span class="">Portfolio</span></a>
                        <a href="{{ url_for('account') }}"><span class="">Account</span></a>
                        <a href="{{ url_for('new_post') }}"><span class="">New Post</span></a>
                    </div>
                </li>
                <li>
                    <div class="divider"></div>
                </li>
            </ul>
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <a href="{{ url_for('home') }}" class="brand-logo"></a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a id="home" href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('portfolio') }}">Portfolio</a></li>
            </ul>
            <ul class="right">
                {% if current_user.is_authenticated %}
                <li><a id="current_username" href="{{ url_for('account') }}">({{ current_user.username }})</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <!-- Flask-flash messages -->
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class=" alert alert-{{ category }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock content %}
    </div>

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="/static/js/bin/materialize.js"></script>    
    <script>
        /*
        * Code provided by MaterializeCSS for fixed action buttons, modals, collapsibles and sidenav.
        */
        $(document).ready(function () {
            $('.fixed-action-btn').floatingActionButton();
            $('.modal').modal();
            $('.collapsible').collapsible();
            $('.sidenav').sidenav();                        
        });

        /*
        * On document ready match a li elements whose href attribute matches the current url 
        * and add class nav-active to hilight the current page
        */
        $(document).ready(function () {
            let path = window.location.pathname.split("/").pop();

            if (path == '') {
                path = 'index';
            }
            let target = $('nav li a[href="' + '/' + path + '"]');
            target.addClass('nav-active');
        });
    </script>
</body>
</html>