{% extends "base.html" %}
{% block content %}

<div class="row blog-frame">
    <div class="col s5 left-pane">
        <h4 class="strong-text">Development Blog</h4>
        <strong>James Ferguson - Full-stack developer</strong>

        <!-- <p><a href="{{ url_for('about') }}">About me</a></p> -->
        

        <aside class="z-depth-2">
            <div class="aside-card">
                <strong>{{ project.project_name }}</strong>
                <p>{{ project.desc }}</p>
                <ul>
                    <li><strong>Tech stack</strong></li>
                    
                    <li>{{ tags }}</li>
                    
                   
                </ul>
            </div>
            {% if current_user.is_authenticated and admin_user.admin %}
            <div class="fixed-action-btn direction-bottom" id="fab-two">
                <!-- <a href="{{ url_for('new_post') }}" class="btn-floating btn-large red z-depth-2"> -->
                <a href="#modal1" class="btn-floating btn-large red z-depth-2 modal-trigger">
                    <i class="large material-icons">mode_edit</i>
                </a>
                <div id="modal1" class="modal">
                    <div class="modal-content">
                        <h4>Edit Current Project</h4>
                    </div>
                    <form method="POST" action="{{url_for('update_project')}}" class="form">
                        {{ form.hidden_tag() }}
                        <!-- //adds cross site request forgery token (CSRF token) -->
                        <div class="row">
                            <div class="input-field col s12">
                                {{ form.title.label() }}
                                {% if form.title.errors %}
                                {{ form.title(class="is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for errors in form.title.errors %}
                                    <span> {{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.title() }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                {{ form.description.label() }}
                                {% if form.description.errors %}
                                {{ form.description(class="is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for errors in form.description.errors %}
                                    <span> {{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.description() }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                                <div class="input-field col s12">
                                    {{ form.tags.label() }}
                                    {% if form.tags.errors %}
                                    {{ form.tags(class="is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for errors in form.tags.errors %}
                                        <span> {{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ form.tags() }}
                                    {% endif %}
                                </div>
                            </div>

                        <div class="row">
                            <div class="input-field col s12">
                                {{ form.submit(class="btn modal-close")}}
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            {% endif %}
        </aside>

    </div>

    <div class="col s7 right-frame">

        {% for post in posts %}
        <div class="posts z-depth-2">
            <div class="post-card">
                <span class="post-title"><a href="{{ url_for('post', post_id=post._id) }}">{{ post.title }}</a></span>
                | {{ post.comment_count }} replies
                {% if post.date_posted %}
                <span class="post-date">{{ post.date_posted.strftime("%d %b %Y") }}</span>
                {% endif %}
                <hr>
            </div>
            <p>{{ post.content }}</p>
        </div>
        {% endfor %}
        {% if current_user.is_authenticated and admin_user.admin %}
        <div class="fixed-action-btn direction-bottom" id="fab-one">
            <a href="{{ url_for('new_post') }}" class="btn-floating btn-large red z-depth-2">
                <i class="large material-icons">add</i>
            </a>
        </div>

        {% endif %}

    </div>

</div>

{% endblock content %}