{% extends "base.html" %}
{% block content %}

<div class="post-view z-depth-2">

    <div class="col s12 post-heading">
        <div class="post-title">{{ post.title }}</div>
        {% if post.date_posted %}
        <div class="date">{{ post.date_posted.strftime("%d %b %Y") }}</div>
        {% endif %}
        {% if current_user.is_authenticated and admin_user.admin %}
        <div class="fixed-action-btn direction-right" id="edit_post_fab">
            <a class="btn-floating btn-large red">
                <i class="large material-icons">mode_edit</i>
            </a>
            <ul>
                <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
                <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
                <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
                <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
            </ul>
        </div>
        {% endif %}
        <hr>
    </div>
    <div class="col s12 post-content">
        <div class="col s12">
            {{ post.content }}
        </div>
    </div>

</div>


<!-- <div>
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('edit_post', post_id=post._id) }}">Edit</a>

</div> -->

<ul class="collapsible z-depth-0">
    <li>
        <div class="collapsible-header">
            <div class="btn btn-secondary btn-sm mt-1 mb-1">Comment</div>
        </div>
        <div class="collapsible-body">
            <h5>Post a comment</h5>
            <div class="row">
                <form action="{{ url_for('insert_post') }}" method="POST" class="col s12">
                    <div class="form-group">
                        <div class="input-field col s12">
                            {{ form.title.label(class="comment-title-label") }}
                            {% if form.title.errors %}
                            {{ form.title(class="z-depth-2 is-invalid comment-post-title") }}
                            <div class="invalid-feedback">
                                {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.title(class="z-depth-2 comment-title") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <div class="input-field col s12">
                                {{ form.content.label(class="comment-body-label") }}
                                {% if form.content.errors %}
                                {{ form.content(class="comment-body z-depth-2 is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.content.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.content(class="comment-body z-depth-2") }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="input-field col s12">
                        {{ form.submit(class="btn z-depth-2")}}
                    </div>
                </form>
            </div>

        </div>
    </li>
</ul>







{% endblock content %}